.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.profile-icon {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  overflow-x: hidden; 
}

.main-content {
  flex: 1; 
  padding-top: 80px; /* Adjust for header height */
  padding-bottom: 60px; /* Adjust for footer height */
  overflow-y: auto; /* Allow vertical scrolling */
}

.footer {
  position: relative; 
  bottom: 0;
  width: 100%;
  background-color: #3a3a8b;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.homepage-container {
  font-family: Arial, sans-serif;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-box input {
  width: 300px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-box button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-box button i {
  font-size: 1.2em;
}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.category {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category h2 {
  color: #3a3a8b;
}

.category button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3a3a8b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .categories {
    flex-direction: column;
    align-items: center;
  }

  .search-box input {
    width: 200px;
  }

  .main-content {
    padding-top: 100px; 
    padding-bottom: 80px; 
  }
}

